html{
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

:root {
    --color: white;
    --background-color: white;
}

/* navbar */
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    position: fixed;
    top: 0px;
    background-color: black;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        " . navbar-left . . navbar-right ."

    ;
}

/* menu left */
.navbar-left {
    grid-area: navbar-left;
}

.navbar-left ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navbar-left ul li a {
    display: flex;
    margin: 10px;
    color: var(--color);
    font-size: 25px;
    text-decoration: none;

}

/* menu right */

.navbar-right {
    grid-area: navbar-right;
}

.navbar-right ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navbar-right ul li {
    display: flex;
    margin: 10px;
    color: var(--color);
    font-size: 25px;
}
.navbar-right ul li a {
    text-decoration: none;
    color: var(--color);
}


/* main photo */
.photo {
    display: grid;
    grid-template-columns: 0.5fr 0.9fr 1fr;
    grid-template-rows: 1fr 0.5fr 1fr;
    grid-template-areas:
        " myface myface . "
        " myface myface . "
        "myface myface  AboutMeText1 "

    ;
}

.myface {
    grid-area: myface;
    width: 100%;
}

.AboutMeText1 {
    grid-area: AboutMeText1;
    color: var(--color);
    font-size: 25px;
}

.AboutMeText1 h2 {
    text-decoration: wavy underline lime;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 40%;
    position: absolute;
    left: 740px;
    top: 500px;
}

.introduction h1 {
    font-size: 45px;
    color: var(--color);
}
/* Menu items/sections */
.text {
    padding-top: 80px;
    margin-top: 80px;
    color: var(--color);
    margin-left: 80px;
}

/* Portfolio */
.Portfolio {
    display: grid;
  
    margin-left: 80px;
    margin-right: 80px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas:
        " one one three three "
        " one one    four    five  "
        " two     two    four    five  "
    ;
}

.one {
    height: 300px;
    grid-area: one;
    background-image: url(./img/socialmedia.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.two {
    grid-area: two;
    background-image: url(./img/travel.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
   
}

.three {
    grid-area: three;
    background-image: url(./img/hairdreser.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.four {
    grid-area: four;
    background-image: url(./img/masterchef.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.five {
    grid-area: five;
    background-image: url(./img/pilot.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Portfolio div {
    font-size: 30px;
    background-color: blue;
}

.Portfolio p {
    border-radius: 5% 5%;
    width: 250px;
}

.one p, .two p, .three p, .four p, .five p{
    background-color: var(--background-color);
    border-radius: 5% 5%;
    width: 260px;
    margin-left: 10px;
    justify-content: center;
    display: flex;
}

.one p {
    width: 260px;
}

.two p {
    width: 173px;
}

.three p {
    width: 130px;
}

.four p {
    width: 146px;
}

.five p {
    width: 60px;
}

/* about me */
.About-Me {
    margin-top: 80px;
    margin-bottom: 80px;
    color: var(--color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 1fr 1fr 1fr;
    grid-template-areas:
        "   second-photo ."
        "   second-photo  AboutMeText "
        "   second-photo ."

    ;
}

.second-photo {
    height: 900px;
    width: 100%;
    grid-area: second-photo;
    background-image: url(./img/Image.png);
    background-repeat: no-repeat;
    background-size: 600px;
}

.AboutMeText {
    display: flex;
    grid-area: AboutMeText;
    align-items: center;
    margin: 40px;
    font-size: 30px;
}

/* skills */
.Skills{
    color: var(--color);
    margin-left: 80px;
}

.Skills-img{
    margin-top: 40px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
}

.Skills-img img{
    height: 70px;
}


